<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" class="mdl-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="keywords" content="Asahi Sushi" />
    <meta property="og:site_name" content="Asahi Sushi" />
    <meta property="og:title" content="Asahi Sushi" />
    <meta property="twitter:title" name="twitter:title" content="Asahi Sushi" />
    <meta property="twitter:card" name="twitter:card" content="Asahi Sushi" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="http://w3ni385.nanoweb.com.vn/pages/gioi-thieu.html"
    />
    <meta
      property="og:image"
      content="http://w3ni385.nanoweb.com.vn/mediacenter/media/images/363/logo/logo.png"
    />
    <meta
      name="twitter:image"
      content="http://w3ni385.nanoweb.com.vn/mediacenter/media/images/363/logo/logo.png"
    />
    <meta property="og:image:type" name="og:image:type" content="image/png" />
    <link rel="canonical" href="/pages/bai-viet.html" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Asahi Sushi</title>
    <!-- STYLE -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.min.css" />
    <link rel="stylesheet" href="/static/css/style-menu.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <!--header-->
    <header id="header" class="header clearfix">
      <div class="header-top" style="">
        <h1 style="text-indent: -9999px; height: 0px; margin: 0px">Ashahi</h1>
        <div class="container">
          <div class="header-top-left">
            <div class="login clearfix">
              <ul>
                <li>
                  <a href="/pages/dang-ky.html" title="Đăng ký">Đăng ký </a>
                </li>
                <li>
                  <a href="/pages/dang-nhap.html" title="Đăng nhập">Đăng nhập </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header-top-right"></div>
        </div>
      </div>
      <div class="header-center">
        <div class="container">
          <div class="flower flower-left">
            <i class="icon icon-flower-left"> </i>
          </div>
          <div class="header-center-cont1 logo">
            <div class="box-img box-img-logo">
              <a href="pages/index.html" title="Asahi">
                <img title="ashahi" src="/static/images/logo.png" alt="Asahi" />
              </a>
            </div>
          </div>
          <div class="header-center-cont2 hotline">
            <div class="hotline-content">
              <i class="icon icon-hotline"> </i>
              <div class="text-content">
                <p>Hotline</p>
                <a href="tel:0968 266 266">0968 266 266</a>
              </div>
            </div>
          </div>
          <div class="header-center-cont3 language">
            <div class="language-content">
              <ul>
                <li class="active">
                  <a
                    class="language-action"
                    href="http://w3ni385.nanoweb.com.vn/set-language.html?lang=vi&amp;actionKey=eyJ1cmwiOiJcLyIsInBhcmFtcyI6W119"
                  >
                    VN
                  </a>
                </li>
                <li class="">
                  <a
                    class="language-action"
                    href="http://w3ni385.nanoweb.com.vn/set-language.html?lang=en&amp;actionKey=eyJ1cmwiOiJcLyIsInBhcmFtcyI6W119"
                  >
                    EN
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="header-center-cont4 shoppingcart" style="height: 110px">
            <div class="shoppingcart-content">
              <a class="btn-show-cart" href="/pages/gio-hang.html">
                <i class="icon icon-shoppingcart"> </i>
              </a>
              <div class="text-content">
                <a class="btn-show-cart" href="/pages/gio-hang.html" title="#"
                  >Giỏ hàng</a
                >
              </div>
            </div>
            <div class="Cart">
              <div class="box-cart">
                <div class="header-box-cart">
                  <p>Giỏ hàng</p>
                </div>
                <div id="boxscroll2" class="cont-cart">
                  <div class="mush"></div>
                </div>
                <div class="bottom-cart">
                  <p class="total">
                    <span class="pricetext">0</span
                    ><span class="currencytext">đ</span>
                  </p>
                  <a class="check-out" href="/pages/gio-hang.html">Giỏ hàng</a>
                </div>
              </div>
            </div>
          </div>
          <div class="flower flower-right">
            <i class="icon icon-flower-right"> </i>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <nav id="nav" class="nav clearfix">
            <div id="cssmenu" class="cssmenu">
              <div id="menu-line" style="width: 121px; left: 0px"></div>
              <div id="menu-button"></div>
              <ul>
                <li class="active">
                  <a href="/pages/index.html" title="Trang chủ - 杉屋について">
                    Trang chủ <br /><span class="menu-language-japan">
                      杉屋について</span
                    >
                  </a>
                </li>
                <li class=" ">
                  <a href="/pages/gioi-thieu.html" title="Chúng tôi - 杉屋について">
                    Chúng tôi <br /><span class="menu-language-japan">
                      杉屋について</span
                    >
                  </a>
                </li>
                <li class="has-sub">
                  <span class="submenu-button"></span>
                  <a href="/pages/san-pham.html" title="Thực đơn - お品書き">
                    Thực đơn <br /><span class="menu-language-japan">
                      お品書き</span
                    >
                  </a>
                  <ul>
                    <li class=" ">
                      <a href="/href="/component/about//khai-vi-pc,5699.html" title="Khai vị - アペタイザー">
                        Khai vị <br /><span class="menu-language-japan">
                          アペタイザー</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//khai-vi-pc,5699.html" title="Món nướng - 焼き">
                        Món nướng <br /><span class="menu-language-japan">
                          焼き</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a
                        href="/sashimi-sushi-pc,5703"
                        title="Sashimi, sushi - 刺身 , 寿司"
                      >
                        Sashimi, sushi <br /><span class="menu-language-japan">
                          刺身 , 寿司</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//mon-chien-pc,5723.html" title="Món chiên - 揚げ">
                        Món chiên <br /><span class="menu-language-japan">
                          揚げ</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a
                        href="/com-chao-pc,5724"
                        title="Cơm, cháo - 米, ポリッジ"
                      >
                        Cơm, cháo <br /><span class="menu-language-japan">
                          米, ポリッジ</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//mon-mi-pc,5729.html" title="Món mì - 麺類">
                        Món mì <br /><span class="menu-language-japan">
                          麺類</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a
                        href="/teppanyaki-pc,5725"
                        title="Teppanyaki - 鉄板焼き"
                      >
                        Teppanyaki <br /><span class="menu-language-japan">
                          鉄板焼き</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//mon-om-pc,5726.html" title="Món om - 煮る">
                        Món om <br /><span class="menu-language-japan">
                          煮る</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//mon-lau-pc,5727.html" title="Món lẩu - 鍋">
                        Món lẩu <br /><span class="menu-language-japan">
                          鍋</span
                        >
                      </a>
                    </li>
                    <li class=" ">
                      <a href="/href="/component/about//mon-dac-biet-pc,5728.html" title="Món đặc biệt - ?">
                        Món đặc biệt <br /><span class="menu-language-japan">
                          ?</span
                        >
                      </a>
                    </li>
                  </ul>
                </li>
                <li class=" ">
                  <a
                    href="/pages/khuyen-mai.html"
                    title="Khuyến mại - プロモーション"
                  >
                    Khuyến mại <br /><span class="menu-language-japan">
                      プロモーション</span
                    >
                  </a>
                </li>
                <li class=" ">
                  <a href="/pages/voucher.html" title="Voucher - クーポン">
                    Voucher <br /><span class="menu-language-japan">
                      クーポン</span
                    >
                  </a>
                </li>
                <li class=" ">
                  <a href="/pages/dat-ban.html" title="Đặt bàn - 貸し切り">
                    Đặt bàn <br /><span class="menu-language-japan">
                      貸し切り</span
                    >
                  </a>
                </li>
                <li class=" ">
                  <a href="/pages/bai-viet.html" title="Tin tức - &gt;ニュース">
                    Tin tức <br /><span class="menu-language-japan">
                      &gt;ニュース</span
                    >
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="header-bottom-facebook">
            <a rel="nofollow" href="http://facebook.com/" target="_blank">
              <i class="icon icon-facebook"> </i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div id="banner-page" class="banner-page clearfix">
      <div class="banner-page-content">
        <div class="box-img-banner-page">
          <a href="/pages/san-pham.html" target="_blank">
            <img
              width="100%"
              src="/static/images/581_1473674452_20357d67cd402b57.jpg"
              alt="Cùng Asahi khám phá - ẩm thực Nhật"
            />
          </a>
        </div>
        <div class="box-info-banner-page">
          <div class="banner-page-title bounceInLeft animated">
            <p class="banner-page-title1">Cùng Asahi khám phá</p>
            <p class="banner-page-title2">ẩm thực Nhật</p>
          </div>
          <div class="banner-page-view-all bounceInLeft animated">
            <a href="/pages/san-pham.html" title="Xem thêm">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
    <main id="main" class="main clearfix">
      <div class="page-about-us">
        <div class="container">
          <div class="page-about-us-title">
            <h2>
              <i class="bg-pau bg-pau-left"> </i>
              Tin tức <br />
              <span class="language-japan">ニュース</span>
              <i class="bg-pau bg-pau-right"> </i>
            </h2>
          </div>
        </div>
      </div>
      <div class="page-new page-new2 clearfix">
        <div class="container">
          <div class="new-content new-content2">
            <div class="box-description box-description-new">
                <h1>Why choose us ?</h1>
            <p><span style="color: rgb(34, 34, 34); font-family: Consolas Lucida Console monospace; font-size: 12px; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis eros lobortis, vestibulum turpis ac, pulvinar odio. Praesent vulputate a elit ac mollis. In sit amet ipsum turpis. Pellentesque venenatis, libero vel euismod lobortis, mi metus luctus augue, eget dapibus elit nisi eu massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis eros lobortis, vestibulum turpis ac, pulvinar odio. Praesent vulputate a elit ac mollis. In sit amet ipsum turpis. Pellentesque venenatis, libero vel euismod lobortis, mi metus luctus augue, eget dapibus elit nisi </span></p>
</div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer" class="footer clearfix">
      <div class="container">
        <div class="footer-top clearfix">
          <div class="footer-top-left">
            <div class="ftl-content">
              <ul>
                <li>
                  <a href="javascript:void(0)" title="#">
                    <img
                      src="/static/images/app_store.jpg"
                      alt="#"
                      title="app store"
                    />
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" title="#">
                    <img
                      src="/static/images/google_play.jpg"
                      alt="#"
                      title="google play"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-top-right">
            <div class="ftr-content">
              <div class="ftr-content-top">
                <div class="ftr-address ftr-address1">
                  <span class="text-bold">Asahi Sushi 1 :</span>
                  <span class="text-nomarl"
                    >Địa chỉ: 288 Bà Triệu - Hai Bà Trưng - Hà Nội/ Điện thoại:
                    (84)4. 39745945</span
                  >
                </div>

                <div class="ftr-address ftr-address1">
                  <span class="text-bold">Asahi Sushi 2 :</span>
                  <span class="text-nomarl"
                    >Địa chỉ: 76 Triệu Việt Vương - Hai Bà Trưng - Hà Nội/ Điện
                    thoại: (84)4. 39447966</span
                  >
                </div>
              </div>
              <div class="ftr-content-bottom">
                <div class="ftr-copyright">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="footer-top-scroll"
            id="footer-top-scroll"
            style="display: none"
          >
            <a href="javascript:void(0)" title="Scroll Back to Top">
              <i class="icon icon-scroll"> </i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
